<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Nodemailer Testing</title>
  </head>
  <body>
    <h1>Welcome to my Nodemailer App</h1>
    <form id="form">
      <p>
        <label for="subject"></label
        ><input type="text" id="subject" placeholder="subject" />
      </p>
      <p>
        <label for="email"></label>
        <input type="email" id="email" placeholder="email" />
      </p>
      <p>
        <label for="text"></label>
        <textarea name="text" id="text" cols="30" rows="10"></textarea>
      </p>
      <button type="submit" value="submit">Submit</button>
    </form>
    <script>
      const form = document.querySelector("#form");
      form.addEventListener("submit", (e) => {
        e.preventDefault();

        const subject = document.querySelector("#subject").value.trim();
        const email = document.querySelector("#email").value.trim();
        const text = document.querySelector("#text").value.trim();

        const data = {
          subject,
          email,
          text,
        };

        const URL = "http://localhost:8080/email";

        (async function postContent() {
          await fetch(URL, {
            method: "POST",
            body: data,
          })
            .then((res) => res.json())
            .then((data) => {
              console.log(data);
            })
            .catch((err) => {
              console.log("Error: ", err);
            });
        })();
      });
    </script>
  </body>
</html>
